spring:
  application:
    name: todo-app

  datasource:
    url: jdbc:postgresql://localhost:5432/tododb
    username: todo_user
    password: todo_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
