spring:
  application:
    name: todo-app

  datasource:
    url: jdbc:postgresql://localhost:5432/tododb
    username: todo_user
    password: todo_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  jackson:
    serialization:
      indent-output: true
      write-dates-as-timestamps: false
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: Europe/Moscow
